@{
    ViewData["Title"] = "Home Page";
}

<div>
    <a class="btn" asp-controller="Menu" asp-action="Menu">
        <div class="text-center card-header">
            <h1 class="display-4">Order A Drink</h1>
        </div>
    </a>
</div>

<div>
    <a class="btn">
        <div class="text-center card-header">
            <h1 class="display-4">View Queue</h1>
        </div>
    </a>
</div>

